.header {
    padding: 0px 0px;
    height: 58px;
}
.header-main {
    text-align: right;
}
.header-main > button >span {
    color:#F6C745
}
.header-main > button >span:hover {
    color:#fff
}
.paid-content {
    margin:15px;
    font-size: 18px;
}
.paid-form {
    margin-top: 15px;
}
.input-width {
    width: 300px;
    margin-top: 5px;
}
.ant-card-bordered {
    border:1px solid #000;
}